@use '../../assets/stylesheets/modules/variable' as *;
@use '../../assets/stylesheets/modules/mixin' as *;

.title {
  @include Kalnia-bold();
  font-size: $font-lg;
}

.subtitle {
  @include Kalnia-extralight();
  font-size: $font-md;
  color: $secondary-text-color;
}

.sign-in_container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
