@use '../../assets/stylesheets/modules/mixin' as *;
@use '../../assets/stylesheets/modules/variable' as *;

.gradient-btn {
  @include kanit-regular(); // Kanit font base
  font-weight: 600; // Semi-bold
  font-size: $font-sm; // 14px from variables

  /* Layout */
  position: absolute;  
  top: 284px;
  left: 35px;
  width: 320px;
  height: 55px;
  border-radius: 13px;

  /* Padding */
  padding-top: 17px;
  padding-bottom: 17px;

  /* Colors & Effects */
  background: linear-gradient(90deg, #a07b7b 0%, $primary-color 100%);
  color: $bg;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(126, 60, 247, 0.3);
  display: inline-block;
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(126, 60, 247, 0.4);
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 2px 8px rgba(126, 60, 247, 0.3);
  }
}
