@use "./variable.scss" as var;

//font family
@mixin kanit-thin() {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: normal;
}

@mixin kanit-extralight() {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-style: normal;
}

@mixin kanit-regular() {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin Kalnia-extralight() {
  font-family: "Kalnia", sans-serif;
  font-weight: 200;
  font-style: normal;
}

@mixin Kalnia-bold() {
  font-family: "Kalnia", sans-serif;
  font-weight: 600;
  font-style: normal;
}

@mixin button-size($size) {
  $props: map-get(var.$btn-sizes, $size);
  @if $props == null {
    @error "Undefined button size: `#{$size}` in $btn-sizes map.";
  }
  width: map-get($props, width);
  height: map-get($props, height);
  padding-top: map-get($props, 'padding-top');
  padding-bottom: map-get($props, 'padding-bottom');
  border-radius: var.$border-radius;
}
