 @use '../../assets/stylesheets/modules/variable' as *;
@use '../../assets/stylesheets/modules/mixin' as *;

 .closeBtn {
   background: $closeBtn-bg;
   width: 73px;
   height: 73px;
   font-size: $font-lg;
   border-radius: 50%;
 }

 .close_span {
  font-size: $font-xxl;
  justify-content: center;
  line-height: 64px;
  @include kanit-extralight();
 }
